<% if(successMessage.length > 0) { %>
    <div class="alert alert-success" role="alert">
        <%= successMessage %>
    </div>
<% } %>
<% if(failureMessage.length > 0) { %>
    <div class="alert alert-danger" role="alert">
        <%= failureMessage %>
    </div>
<% } %>