<%- include('../partials/header') %>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                  <%- include('../partials/alert') %>

                    <!-- Page Heading -->
                        <h1 class="h3 mb-0 text-gray-800">Change Password</h1>
                        <br>

                        <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h5 class="m-0 font-weight-bold text-primary">Change Your Password</h5>
                        </div>

                        <div class="card-body">
                            <form action="" method="post">

                                <div class="row mb-3">
                                  <label for="oldpassword" class="col-sm-2 col-form-label">Old Password</label>
                                  <div class="col-sm-10">
                                    <input type="password" class="form-control" 
                                    id="oldpassword" name="oldpassword" 
                                    required>
                                  </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="newpassword" class="col-sm-2 col-form-label">New Password</label>
                                    <div class="col-sm-10">
                                      <input type="password" class="form-control" 
                                      id="newpassword" name="newpassword" 
                                      required>
                                    </div>
                                  </div>

                                <div class="row mb-3">
                                    <label for="retypepassword" class="col-sm-2 col-form-label">Retype Password</label>
                                    <div class="col-sm-10">
                                      <input type="password" class="form-control" 
                                      id="retypepassword" name="retypepassword" 
                                      required>
                                    </div>
                                </div>
                                
                              </div>

                              <div class="card-footer">
                                <button type="submit" class="btn btn-success btn-icon-split">
                                <span class="icon text-white-50">
                                  <i class="fas fa-database"></i>
                                </span>
                                <span class="text">Update</span>
                              </button>
                              
                            </form>
                            </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

<%- include('../partials/footer') %>

