<%- include('../partials/header') %>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                        <h1 class="h3 mb-0 text-gray-800">Sales</h1>
                        <p class="mb-4">This is data of Sales</p>
                        
                        <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <a href="/sales/create" class="btn btn-primary btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span class="text">Add</span>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="salestable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Invoice</th>
                                            <th>Time</th>
                                            <th>Total Summary</th>
                                            <th>Pay</th>
                                            <th>Change</th>
                                            <th>Customer</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tfoot>
                                        <tr>
                                            <th>Invoice</th>
                                            <th>Time</th>
                                            <th>Total Summary</th>
                                            <th>Pay</th>
                                            <th>Change</th>
                                            <th>Customer</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->


<%- include('../partials/footer') %>

            <script>
                let user = "<%= user.userid %>"

                 $(document).ready(function () {
            $('#salestable').DataTable({
                "order": [[1, 'desc']],
                "lengthMenu": [[3, 10, 100], [3, 10, "All"]],
                "processing": true,
                "serverSide": true,
                "ajax": "/sales/datatable",
                "columns": [
                    { "data": "invoice" },
                    { "data": "time"
                    ,render: function(data){
                        return `${moment(data).format('DD MMM YYYY HH:mm:ss')}`
                    }},
                    { "data": "totalsum",
                    render: function(data){
                        return `${currencyFormatter.format(data)}`
                    }},
                    { "data": "pay",
                    render: function(data){
                        return `${currencyFormatter.format(data)}`
                    }},
                    { "data": "change",
                    render: function(data){
                        return `${currencyFormatter.format(data)}`
                    }},
                    { "data": "name" },
                    { "data": "invoice", 
                    render: function(data) {
                        return `
                        <a href="/sales/show/${data}" class="btn btn-circle btn-success"> <i class="fas fa-info-circle "></i></a>
                        <a href="#" class="btn btn-circle btn-danger" data-toggle="modal" data-target="#modalDelete${data}"> <i class=" fas fa-solid fa-trash"></i></a>

                            <div class="modal fade" id="modalDelete${data}" tabindex="-1" role="dialog"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Deleted Confirmation</h5>
                                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×\</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">Are you sure, you want delete it?</div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
                                                            <a class="btn btn-primary" href="/sales/delete/${data}">Yes</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                        `
                    }
                }
                ],
                "rowCallback": function( row, data ) {
                    if ( user != data.operator ) {
                        $('td:eq(6)', row).css({
                            "pointer-events": "none",
                            "opacity": "50%"

                        });
                    }
                }
            });
        });
            </script>

